.search__input.field__input {
  padding-right: 9.8rem;
}

.search__button {
  right: var(--inputs-border-width);
  top: var(--inputs-border-width);
}

.reset__button {
  right: calc(var(--inputs-border-width) + 4.4rem);
  top: var(--inputs-border-width);
}

.reset__button:not(:focus-visible)::after {
  border-right: 0.1rem solid rgba(var(--color-foreground), 0.08);
  display: block;
  height: calc(100% - 1.6rem);
  content: '';
  position: absolute;
  right: 0;
}

.reset__button:not(:focus)::after {
  border-right: 0.1rem solid rgba(var(--color-foreground), 0.08);
  display: block;
  height: calc(100% - 1.8rem);
  content: '';
  position: absolute;
  right: 0;
}

.search__button:focus-visible,
.reset__button:focus-visible {
  background-color: rgb(var(--color-background));
  z-index: 4;
}

.search__button:focus,
.reset__button:focus {
  background-color: rgb(var(--color-background));
  z-index: 4;
}

.search__button:not(:focus-visible):not(.focused),
.reset__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.search__button:hover .icon,
.reset__button:hover .icon {
  transform: scale(1.07);
}

.search__button .icon {
  height: 1.8rem;
  width: 1.8rem;
}

.reset__button .icon.icon-close {
  height: 1.8rem;
  width: 1.8rem;
  stroke-width: 0.1rem;
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.template-search__results {
  position: relative;
}

.search-modal.modal__content {
  height: 380px;
}

.search-modal.modal__content {
    padding-top: 30px;
    padding-bottom: 60px;
    height: max-content;
    align-items: flex-end;
}
.search-modal.modal__content .promo_collection .sub-title {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.32px;
}
.search-modal.modal__content .promo_collection .title {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -2.5px;
    margin-top: 30px;
    margin-bottom: 46px;
    max-width: 542px;
}
.search-modal.modal__content .promo_collection a {
    color: #999;
    leading-trim: both;
    text-edge: cap;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    text-transform: uppercase;
}
.search-modal.modal__content .search-modal__content {
    width: 50%;
    justify-content: flex-end;
    align-items: flex-start;
}
.search-modal.modal__content .search-modal__content .predictive_search_open {
    margin-top: 54px;
}
.search-modal.modal__content .search-modal__content .predictive_search_open .predictive-search__result-group {
    gap: 30px;
}
.search-modal.modal__content .search-modal__content .predictive_search_open h2 {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.32px;
    border: none;
    margin: 0;
}
.search-modal.modal__content .search-modal__content .predictive-search__results-list {
    display: flex;
    gap: 22px;
}
.search-modal.modal__content .search-modal__content .predictive-search__results-list li {
    width: calc(25% - 11px);
}
.search-modal.modal__content .search-modal__content .predictive-search__results-list li:hover a,
.search-modal.modal__content .search-modal__content .predictive-search__results-list li:hover p {
    background: transparent;
    text-decoration: underline;
}
.search-modal.modal__content .search-modal__content .predictive-search__results-list li a {
    display: block;
    padding: 0;
}
.search-modal.modal__content .search-modal__content .predictive-search__results-list li .predictive-search__item-heading {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #000;
    padding-bottom: 2px;
    leading-trim: both;
    text-edge: cap;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.24px;
    text-transform: capitalize;
}
.search-modal.modal__content .search-modal__content .predictive-search__results-list li .predictive-search__item-price {
    display: none;
}
.search-modal.modal__content .search-modal__content .search__input {
    border: none;
    box-shadow: none !important;
    outline: none !important;
    border-bottom: 1px solid #C7C7C7;
    border-radius: 0;
    padding-right: 30px;
}
.search-modal.modal__content .search-modal__content .search__input::placeholder {
    color: #C7C7C7 !important;
}
.search-modal.modal__content .search-modal__content .field__label {
    color: #C7C7C7;
}
.search-modal.modal__content .search-modal__content .search__button.field__button {
    display: none;
}
.search-modal.modal__content .search-modal__content .search-modal__form .field {
    border: none;
    outline: none;
    box-shadow: none;
}
.search-modal.modal__content .search-modal__content .search-modal__form .field:before,
.search-modal.modal__content .search-modal__content .search-modal__form .field:after {
    content: none;
}
.search-modal.modal__content .search-modal__content .search-modal__close-button {
    position: absolute;
    right: 60px;
}
